
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetAllBooks</title>
</head>
<body>
    <h1>This is all Booklist</h1>
    <button>Click me to get all Books</button>
</body>
</html>
